*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: darkblue
}
h4{
    color: white;
}
.buscar{
    text-align: center;
}
.main{
    margin: auto;
    padding-top: 60px;
    width: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

}

.peliculas{
    width: 250px;  
    background-color: darkblue; 
    border-radius: 15px;

    padding: 15px;
}

.imagenes{
    object-fit: cover;
    width:100%;
    
}

.info-peliculas{
    background-color: azure;
    margin-top: 0px;
    padding: 10px;
    padding-top: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}



.botonAgregar{
    margin-top: 50px;

    display: grid;
    place-items: center;
}


.agregarPeli{
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;

    padding: 8px;
    
    width: 40%;
    background-color: lightskyblue;
    gap: 15px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.formulario{

    display: grid;
    grid-template-columns: auto auto;
    gap:15px
    
}

.bi{
    background-color: transparent;
    border: none;
}

.hidden{
    display: none;
}